﻿@model ClinicaWebApplication.Models.ServicoModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServicoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuracaoMinutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuracaoMinutos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intervalo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intervalo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoParaCancelamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoParaCancelamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadeMaximaParaCancelamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadeMaximaParaCancelamento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
