﻿@model ClinicaWebApplication.Models.ServicoModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ServicoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuracaoMinutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuracaoMinutos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intervalo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intervalo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoParaCancelamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoParaCancelamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadeMaximaParaCancelamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadeMaximaParaCancelamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
