﻿@{
    /**/

    ViewBag.Title = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{

    <div class="jumbotron" style="margin-top: 20px;">
        <h1>App</h1>
        <p class="lead">Faça o seu login ou registre-se em nosso sistema.</p>
        <p class="lead">Em seguida navegue pelas opções disponíveis no menu superior.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Registre-se</h2>
            <p>
                Registre-se rapidamente em nosso sistema de agendamento e faça a marcação e remarcação de procedimentos estéticos sem sair de casa!
            </p>
            <p>
                @Html.ActionLink("Quero me registrar agora!", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
            </p>
        </div>
        <div class="col-md-6">
            <h2>Faça o seu Login</h2>
            <p>Para você que já é nosso cliente, faça o login agora mesmo e desfrute das comididades oferecidas.</p>
            <p>
                @Html.ActionLink("Fazer Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
            </p>
        </div>
    </div>
}
else
{
    <div class="jumbotron" style="margin-top: 20px;">
        
        <p class="lead">Agende uma consulta.</p>
        @Html.ActionLink("Agendamento", "Calendario", "Agenda")
    </div>

}
