﻿@model ClinicaWebApplication.Models.CalendarioModel

@{
    ViewBag.Title = "Calendario";
}

<h2>Agenda</h2>

@using (Html.BeginForm("Calendario", "Agenda", FormMethod.Post, null))
{
    @*@Html.AntiForgeryToken()*@

    @* CHANGE THE TARGET PROPERTY HERE *@

    if (Model.StateCalendario == ClinicaWebApplication.Models.StateCalendario.ESCOLHENDO_O_SERVICO)
    {

        @Html.DropDownListFor(m => m.SelecionadoServicoId, (IEnumerable<SelectListItem>)Model.Servicos, "Selecione o serviço para agendamento")
        <input type="submit" value="Agendar" />
    }
    else if (Model.StateCalendario == ClinicaWebApplication.Models.StateCalendario.VISUALIZANDO_CALENDARIO)
    {
        <h5> @Model.Servicos.FirstOrDefault(p => p.Value == Model.SelecionadoServicoId.ToString()).Text </h5>
        @Html.ActionLink("Alterar serviço", "Calendario");
    }
    else if (Model.StateCalendario == ClinicaWebApplication.Models.StateCalendario.SELECIONANDO_HORARIOS)
    {
        <text>
        Ainda restam @Model.GetTotalRestanteParaAgendamento() consultas para agendar. Por favor, selecione os horários
        </text>
    }
}

<i style="color: orange;">
    @Model.MensagemUsuario
</i>

@if (Model.StateCalendario != ClinicaWebApplication.Models.StateCalendario.ESCOLHENDO_O_SERVICO)
{

    <h3>@Html.DisplayFor(m => m.TituloMes)</h3>
    <table class="table">
        <tr>
            @for (int i = 0; i < Model.TituloDiasSemana.Count(); i++)
            {
                <th>
                    @Html.DisplayFor(m => Model.TituloDiasSemana[i])
                </th>
            }
            
        </tr>
        <tr>
            <td >@Html.ActionLink("Semana anterior", "Calendario",  
                new { selecionadoServicoId = Model.SelecionadoServicoId, acaoCalendario = "SEMANA_ANTERIOR", dataDaSemana = Model.DataDaSemana })</td>
            <td colspan="5"></td>
            <td >@Html.ActionLink("Semana posterior", "Calendario", 
                new { selecionadoServicoId = Model.SelecionadoServicoId, acaoCalendario = "SEMANA_POSTERIOR", dataDaSemana = Model.DataDaSemana })</td>
        </tr>
        <tr>
            @for (int i = 0; i < Model.DiasDaSemana.Count(); i++)
            {
            <td>
                @Html.DisplayFor(m => Model.DiasDaSemana[i].Dia)
                <table class="table">
                    @for (int j = 0; j < Model.DiasDaSemana[i].Slots.Count(); j++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => Model.DiasDaSemana[i].Slots[j].Titulo)
                            </td>
                            <td style="background-color: @Model.DiasDaSemana[i].Slots[j].CorDescritiva()">
                                @if (Model.DiasDaSemana[i].Slots[j].StateSlot == ClinicaWebApplication.Models.StateSlot.LIVRE)
                                {

                                    @Html.ActionLink(@Model.DiasDaSemana[i].Slots[j].Descricao(), "MarcarConsulta",
                                        new {
                                            dataInicio = Model.DiasDaSemana[i].Slots[j].DataInicio,
                                            dataFim= Model.DiasDaSemana[i].Slots[j].DataFim,
                                            selecionadoServicoId = Model.SelecionadoServicoId,
                                            contadorAgendamento = Model.ContadorAgendamento,
                                            dataDaSemana = Model.DataDaSemana
                                        })
                                }
                                else if (
                                    Model.DiasDaSemana[i].Slots[j].StateSlot == ClinicaWebApplication.Models.StateSlot.OCUPADO_PELO_USUARIO_LOGADO
                                    && Model.StateCalendario == ClinicaWebApplication.Models.StateCalendario.VISUALIZANDO_CALENDARIO
                                    && Model.CancelamentoPermitido(Model.DiasDaSemana[i].Slots[j]))
                                {   
                                    @Html.ActionLink("Cancelar", "CancelarConsulta",
                                        new {
                                            selecionadoServicoId = Model.SelecionadoServicoId,
                                            idAgenda = Model.DiasDaSemana[i].Slots[j].Agendamento.ID,
                                            dataDaSemana = Model.DataDaSemana
                                        })
                                }
                                else
                                {
                                    <h5>
                                        @Model.DiasDaSemana[i].Slots[j].Descricao()
                                    </h5>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </td>
            }
            

        </tr>
    </table>
}