﻿@model ClinicaWebApplication.Models.AgendaModel

@{
    ViewBag.Title = "Marcar Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Concluir agendamento</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Marcar consulta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            <div class="col-md-10">
                @Model.User.Email
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServicoId, "ServicoId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Model.Servico.Nome
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataInicioConsulta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.FormatarDataInicioParaExibicao()
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataFimConsulta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.FormatarDataFimParaExibicao()
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
